Body
{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #CDD1DB;
	color: #00294A;
	font-family: helvetica, arial, verdana, "trebuchet ms" , sans-serif;
}
#mainTable
{
	background-color: #C1D3DC;border-left: 15px solid #080D54; border-right: 15px solid #080D54;
}
.main
{
	border: 1px solid #080D54;
	background-color: #C1D3DC;
}
.SiteTitleCell
{
	line-height: 1.2em;
	color: #ccc;
	letter-spacing: .2em;
	background-color: #226699;
	text-align: center;
}
.SiteDesc
{
	margin-bottom: 20px;
	font: 65%/1.4em "Trebuchet MS" ,Trebuchet,Arial,Verdana,Sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #fff;
}
H1
{
	margin: 0;
	color: #feeef3;
	font-size: 30px;
}
H2
{
	font: bold 18/1.4em "Trebuchet MS" ,Trebuchet,Arial,Verdana,Sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #226699;
}
H3
{
	margin: .25em 0 0;
	padding: 0 0 4px;
	font-size: 148%;
	font-weight: bold;
	line-height: 1.4em;
	color: #0D3C60;
}
H4
{
	font-size: 11px;
	margin-top: 8px;
	border-bottom: 3px solid #9BB2CA;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #0D3C60;
}
H5
{
	font-weight: normal;
	text-align: right;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #777;
}
td
{
	font-family: arial,helvetica;
	font-size: 9pt;
}
.PostHeaderDate
{
	font-family: arial,helvetica;
	font-size: 9pt;
	text-transform: uppercase;
	color: #0D3C60;
	font-weight: bold;
}
.content
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu
{
	width: 170px;
	padding: 15px;
	color: #080D54;
	background-color: #9BB2CA;
}
.menuBlock
{
	border-bottom: 1px dotted white;
}
.menuItem
{
}
a
{
	text-decoration: none;
	color: #226699;
	font-weight: bold;
}
a:hover
{
	color: #226699;
	background-color: white;
}
.psThumb
{
	border: 1px solid #226699;
	margin: 5px;
	cursor: hand;
}
.psThumb:hover
{
	border: 1px solid #585C8F;
}
.psStreamImg
{
	border: 4px solid #226699; margin-left: 1px; margin-bottom: 6px;
}
