Body
{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #FFA74F;
	font-family: helvetica, arial, verdana, "trebuchet ms" , sans-serif;
	color: #C16100;
}
#mainTable
{
	background-color: #FFE6CC;
	border-left: 15px solid #FF3300;
	border-right: 15px solid #FF3300;
}
.main
{
	background-color: #FFE6CC;
}
.SiteTitleCell
{
	line-height: 1.2em;
	color: #CCCCCC;
	letter-spacing: .2em;
	background-color: #CE4300;
	text-align: center;
}
.SiteDesc
{
	margin: 0;
	padding: 12px 0 0 10px;
	font-family: "Trebuchet MS" ,Trebuchet,Arial,Verdana,Sans-serif;
	font-size:12px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #FFCC99;
}
H1
{
	margin: 0;
	padding: 26px 0 0 10px;
	color: #FFCC99;
	font-size: 30px;
}
H2
{
	font: bold 18/1.4em "Trebuchet MS" ,Trebuchet,Arial,Verdana,Sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #EA7500;
}
H3
{
	margin: .25em 0 0;
	padding: 0 0 4px;
	font-size: 148%;
	font-weight: bold;
	line-height: 1.4em;
	color: #FF3300;
}
H4
{
	font-size: 11px;
	margin-top: 8px;
	border-bottom: 3px solid #FFCC99;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #FF9966;
}
H5
{
	font-weight: normal;
	text-align: right;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #777;
}
td
{
	font-family: arial,helvetica;
	font-size: 9pt;
}
.PostHeaderDate
{
	font-family: arial,helvetica;
	font-size: 9pt;
	text-transform: uppercase;
	color: #FF3300;
	font-weight: bold;
}
.content
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu
{
	width: 170px;
	padding: 15px;
	color: #CC0000;
	background-color: #FFCC99;
}
.menuBlock
{
	border-bottom: 1px dotted white;
}
.menuItem
{
}
a
{
	text-decoration: none;
	color: #FF5050;
	font-weight: bold;
}
a:hover
{
	color: #FFFFFF; text-decoration:none; background-color:#FF6666
}
.psThumb
{
	border: 1px solid #FF5050;
	height: 84;
	margin: 5px;
	cursor: hand;
}
.psThumb:hover
{
	border: 1px solid #585C8F;
}
.psStreamImg
{
	border: 4px solid #FF5050; margin-left: 1px; margin-bottom: 6px;
}
